<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs')%>

<body >
    <%- include('partials/navbar.ejs')%>

    <section class="hero py-16">
        <div class="container mx-auto flex items-center justify-between">
            <div class="w-1/2">
                <h6 class="text-lg "><em>Are you hungry?</em></h6>
                <h1 class="text-6xl font-bold">Don't wait</h1>
                <button class="order px-6 py-2 rounded-full text-white font-bold mt-4">Order Now</button>
            </div>
            <div class="w-1/2 items-center">
                <img src="/img/hero-pizza.png" alt="" height="300px" width="500px">
            </div>
        </div>
    </section>

    <!-- menu with order button -->
    <section class="menu container mx-auto py-8 px-16">
        <h1 class="text-xl font-bold mb-8">All Pizzas</h1>
        <div class="grids ">
            <%- include('partials/cards.ejs')%>
            <%- include('partials/cards.ejs')%>
            <%- include('partials/cards.ejs')%>
            <%- include('partials/cards.ejs')%>
            <%- include('partials/cards.ejs')%>
            <%- include('partials/cards.ejs')%>        
    </section>


    
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="/js/app.js"></script>
</body>

</html>